.container {
  @apply p-10 m-auto;
  max-width: 700px;
  height: 400px;
}

.cardTopDiv {
  @apply bg-green-200 absolute z-10 p-4 rounded-sm;
  top: 0;
  left: 0;
  bottom: 15px;
  right: 15px;
}
.cardBottomDiv {
  @apply bg-green-700 absolute rounded-sm;
  top: 15px;
  left: 15px;
  bottom: 0;
  right: 0;
}

.card {
  @apply h-full w-full bg-green-200 p-4 text-gray-800 rounded-sm;
}

.cardContainer {
  @apply h-full w-full relative;
}

.pinnedPosts {
  @apply font-alice text-xl z-40 text-right text-gray-800 pr-1 pl-1 bg-white ml-4;
  margin-top: -15px;
  width: 124px;
}
